
html, body, .container-fluid { 
    height: 100%; 
    margin: 0; 
    padding: 0; 
}

#map-canvas { 
  margin: 0;
  padding: 0;
  height: 50%;

}

#box {
    margin: 10px;
    height: 20vh
}

#form-search
{
    position:absolute;
    right:5%;
    top:5%;
    width:75%;

}

#form-search .form-control {
    width :85%; 
    top: -10px; 
    left: 10%;
}

ul {
    list-style:none;
    padding-left:0;
}

#main-section {
    margin:0px;
}
.right-side {
    margin:10px;
}

ul .material-icons{
    cursor:pointer;
}

